
*.xml
*.iml
*.pyc
data/log.txt
data/stats.json
log.log
gite
basezinha.db
.gitignore
.python-version
data/fesdepositadas.txt
data/arrobas.json
data/reminders.json
data/steam.json
data/treta_history.txt
data/values.json
data/wunder.json
data/conversations.json
plugins/vr.py
requirements.txt
plugins/covid.py
plugins/cursed.py
plugins/discord.py
plugins/mine.py
plugins/qqeisso.py
